.root{
    
}

body{
    text-align: center;

}

.hidden{
    opacity: 0;
    transition: all 2s;
}



h1{
    font-family: Arial, Helvetica, sans-serif;
}

.fist-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    height: 150px;
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.hand{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 50%;

}

.fist-container-right{
    margin-left: auto;
}

.fist-container-left{
    margin-right: auto;
}


@keyframes leftPlay{
    50%{
        transform: rotate(-45deg);

    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rightPlay{
    50%{
        transform: rotate(45deg);

    }

    100%{
        transform: rotate(0deg);
    }
}

.fist-container-left.play-animate{
    animation: leftPlay .7s ease-in-out 0s 3 alternate both;
}

.fist-container-right.play-animate{
    animation: rightPlay .7s ease-in-out 0s 3 alternate both;
}

.shoot-button{
    box-sizing: border-box;
    display: inline-block;
    margin: 10vh auto 3vh auto;
    width: 30%;

}

.fist-container-left > img{
    width: 250px;
    position: absolute;
    top: -10px;
    left: 0vw;
    opacity: 0;
    transition: all .1s;
}

.fist-container-right > img{
    right: 0vw;
    top: -10px;
    width: 250px;
    position: absolute;
    opacity: 0;
    transition: all .1s;
   
}


.tool-list, .score-container{
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}

.score-container{
    align-items: flex-end;
    gap: 10vw;
}

.tool-container{
    border: black solid 1px;
    box-sizing: border-box;
    width: 20%;
    height: 100px;
    transform: scale(1);
    transition: all .07s;
    cursor: pointer;
}

.tool-container > img{
    height: 100%;
}

.tool-container.selected{
    border: 4px solid black;
    transform: scale(1.1);

}

.score-update{
    
    color: gold;
    transform: scale(2);
    transition: all .07s;
}

.computer-score-update{
    color: gold;
    transform: scale(2);
    transition: all .07s;
}

.score{
    display: flex;
    flex-direction: column;
    width: 150px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

img.current-hand{
    opacity: 1;
    transition: all .4s;
}

.player-hand-paper, .comp-hand-paper{
    top: -10vh;
}


